<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      HomePage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar showcancelbutton="" (ionInput)="filtroList($event)"></ion-searchbar>
  <ion-list lines="none">
    <!--<ion-item-sliding *ngFor="let postagem of postagensList">-->
    <ion-item-sliding *ngFor="let postagem of postagens"> <!--verificar variaveis do array do firebase-->
      <ion-item lines="inset" button [routerLink]="['/postagens', postagem.id]">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <!--<img src="https://photos.google.com/photo/AF1QipNvgB8em2IdnHR0KcgQ2LWW9X2HP-PEF8e0Xo8s">-->
        </ion-avatar>
        <ion-label>
          {{ postagem.titulo }}
          <p>{{ postagem.assunto}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="remove(postagem)" color="secondary">
          Remove
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/postagens" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--Img firebase-->

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="openFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button (click)="openInstagram()">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button (click)="openTwitter()">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>